{% load staticfiles %}
doctype html
html(lang='en')
  head
    title Add a new Jungle
    link(rel='stylesheet', href='{% static "css/global.css" %}', type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')  body
  body
    div#container
      div#holder
        div#main
          h1 You are in the  
            a.black(href='/index/') Jungle
          div#bar.green
            div#title
              strong Add a New Jungle
            div#body
              a(href='/index/').white Cancel
          div#bar.yellow
            form(name='new_jungle', method='POST', action='/add_jungle/')
              {% csrf_token %}
              {{ jungle_form.as_p }}
              input(type='submit', name='submit', value='Go to your new Jungle!')