{% load staticfiles %}
doctype html
html(lang='en')
  head
    title Login to Jungle
    link(rel='stylesheet', href='{% static "css/global.css" %}', type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')  body  
  body
    div#container
      div#holder
        div#main
          h1 Login to the 
            a.black(href='/index/') Jungle
          form(name='login', method='POST', action='/login/', style='margin-top: 10px;')
            {% csrf_token %}
            input(type='text', name='username', value='', placeholder='username')
            br
            input(type='password', name='password', value='', placeholder='**********')
            br
            button.button.yellow(type='submit', style='margin-top: 10px;') Login